/**
* 针对较差的显示器做出的调整
*/
.hait-input {
	border: 1px solid #C2C2C2;
	border-radius: 5px;
	outline: none;
	margin-top:1px;
}

.hait-input[required] {
	background-color: white;
}

.hait-select {
	border: 1px solid #c2c2c2;
}

.hait-select[required] {
	background-color: white;
}

.hait-select .select-button {
	border-left: 1px solid white;
}

.hait-select .select-items li:hover {
	background-color: #119ac9;
	color: white;
	cursor: pointer;
}

.hait-select .select-items li.selected {
	background-color: #119ac9;
	color: white;
}

.hait-button {
	border: 1px solid #3551A2;
	background-color: #F1F2F6;
	border-radius: 3px;
	color:#4861AB;
	outline: none;
}

.hait-table-border {
	border: 1px solid white;
}

.hait-table-border .lock-right {
    border-left: 1px solid #9c9c9c;
}

.hait-table thead th {
	color: #666666;
	border-bottom: 1px solid rgba(235,238,245,1);
	border-right:1px solid white;
	background-color: white;
	font-size:13px;
}

.hait-table tbody td {
	border-right: 1px solid white;
	border-bottom: 1px solid rgba(235,238,245,1);
}

.hait-table-bottom {
	/*border-top: 1px solid rgba(235,238,245,1);*/
}

.hait-table tbody td.group {
	background-color: #e3e3e3;
}

.hait-table tbody tr.selected td {
	background-color: white;
}

.hait-table tbody tr:hover td {
	background-color: white;
}

.hait-table-bottom .pagination-bar ul.pagination-num {
	border-left: 1px solid white;
	border-top: 1px solid white;
}

.hait-table-bottom .pagination-bar ul.pagination-num li {
	border-right: 1px solid white;
	border-bottom: 1px solid white;
}

.hait-table-bottom .pagination-bar .pagination-input {
	border: 1px solid #cccccc;
	height:26px;
	border-radius: 5px;
	width:40px;
	margin-top:2px;
	outline: none;
	color: #676767;
}

.hait-table-bottom .pagination-bar .pagination-search {
	border: 1px solid #9c9c9c;
	height:28px;
	border-radius: 3px;
}

.title-bar {
	border-bottom: 1px solid #9c9c9c;
}

.separation-line{
	background-color: #9c9c9c;
}
