@font-face {
  font-family: 'font-yunlaila';
  src:  url('font/font-yunlaila.eot?50vcdp');
  src:  url('font/font-yunlaila.eot?50vcdp#iefix') format('embedded-opentype'),
    url('font/font-yunlaila.ttf?50vcdp') format('truetype'),
    url('font/font-yunlaila.woff?50vcdp') format('woff'),
    url('font/font-yunlaila.svg?50vcdp#font-yunlaila') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'font-yunlaila' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-paid:before {
	content: "\e900";
}

.icon-post:before {
	content: "\e901";
}

.icon-department:before {
	content: "\e902";
}

.icon-telephone:before {
	content: "\e903";
}

.icon-logo:before {
	content: "\e904";
}

.icon-expected-billing:before {
	content: "\e905";
}

.icon-user:before {
	content: "\e906";
}

.icon-dot:before {
	content: "\e907";
}

.icon-billing-today:before {
	content: "\e908";
}

.icon-total-assets:before {
	content: "\e909";
}

.icon-gold:before {
	content: "\e90a";
}

.icon-arrive-station:before {
	content: "\e90b";
}

.icon-vehicle:before {
	content: "\e90c";
}

.icon-network-billing:before {
	content: "\e90d";
}

.icon-reimbursement-application:before {
	content: "\e90e";
}

.icon-fare-settlement:before {
	content: "\e90f";
}

.icon-application-loans:before {
	content: "\e910";
}

.icon-collection-collection:before {
	content: "\e911";
}

.icon-transportation-payment:before {
	content: "\e912";
}

.icon-examination-approval:before {
	content: "\e913";
}

.icon-work-flow:before {
	content: "\e914";
}

.icon-bank-management:before {
	content: "\e915";
}

.icon-vip-management:before {
	content: "\e916";
}

.icon-customer-management:before {
	content: "\e917";
}

.icon-dot-loading-list-printing:before {
	content: "\e918";
}

.icon-employee-access-rights-settings:before {
	content: "\e919";
}

.icon-franchisee-management:before {
	content: "\e91a";
}

.icon-menu-management:before {
	content: "\e91b";
}

.icon-modify-password:before {
	content: "\e91c";
}

.icon-organization-management:before {
	content: "\e91d";
}

.icon-post-management:before {
	content: "\e91e";
}

.icon-post-staff-setting:before {
	content: "\e91f";
}

.icon-provide-home-delivery-service:before {
	content: "\e920";
}

.icon-railway-transport-stowage:before {
	content: "\e921";
}

.icon-registration-car:before {
	content: "\e922";
}

.icon-staff-management:before {
	content: "\e923";
}

.icon-starting-point-modifying-waybill:before {
	content: "\e924";
}

.icon-terminal-waybill-amendment-application:before {
	content: "\e925";
}

.icon-transfer-vehicle-management:before {
	content: "\e926";
}

.icon-transit-delivery:before {
	content: "\e927";
}

.icon-transport-contract-printing:before {
	content: "\e928";
}

.icon-turn-freight-cost-inquiry:before {
	content: "\e929";
}

.icon-adjustable-line-setup:before {
	content: "\e92a";
}

.icon-announcement-management:before {
	content: "\e92b";
}

.icon-approved-line-settings:before {
	content: "\e92c";
}

.icon-billing:before {
	content: "\e92d";
}

.icon-city-delivery:before {
	content: "\e92e";
}

.icon-city-to-cargo-stowage:before {
	content: "\e92f";
}

.icon-consignment-inventory-query:before {
	content: "\e930";
}

.icon-customers-come-from-mentioning:before {
	content: "\e931";
}

.icon-data-dictionary-management:before {
	content: "\e932";
}

.icon-dedicated-vehicle-management:before {
	content: "\e933";
}

.icon-delivery-man-management:before {
	content: "\e934";
}

.icon-delivery-man:before {
	content: "\e935";
}

.icon-transfer-cost:before {
	content: "\e936";
}

.icon-charge-standard:before {
	content: "\e937";
}

.icon-line-association:before {
	content: "\e938";
}

.icon-open-circuit:before {
	content: "\e939";
}

.icon-network-management:before {
	content: "\e93a";
}

.icon-open-area:before {
	content: "\e93b";
}

.icon-open-city:before {
	content: "\e93c";
}

.icon-alliance-business:before {
	content: "\e93d";
}

.icon-arrival:before {
	content: "\e93e";
}

.icon-cancel:before {
	content: "\e93f";
}

.icon-cancellation:before {
	content: "\e940";
}

.icon-commission-matters:before {
	content: "\e941";
}

.icon-cost-confirmation:before {
	content: "\e942";
}

.icon-daily-operation:before {
	content: "\e943";
}

.icon-delete:before {
	content: "\e944";
}

.icon-deliveryman-set:before {
	content: "\e945";
}

.icon-essential-data:before {
	content: "\e946";
}

.icon-financial-management:before {
	content: "\e947";
}

.icon-issued-contract:before {
	content: "\e948";
}

.icon-loading-stowage:before {
	content: "\e949";
}

.icon-modification:before {
	content: "\e94a";
}

.icon-my-permission:before {
	content: "\e94b";
}

.icon-print:before {
	content: "\e94c";
}

.icon-report-center:before {
	content: "\e94d";
}

.icon-reset:before {
	content: "\e94e";
}

.icon-save:before {
	content: "\e94f";
}

.icon-search:before {
	content: "\e950";
}

.icon-see-details:before {
	content: "\e951";
}

.icon-splitwaybill:before {
	content: "\e952";
}

.icon-system-settings:before {
	content: "\e953";
}